.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#canvasPlain {
  background-color: aqua;
}

#canvasReverse {
  background-color: black;
}
