body {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background: black;
}
canvas {
  display: block;
}

.a {
  background-color: rgba(254, 245, 240, 255);
  background-color: rgba(254, 245, 236, 255);
}
